In [2]:
# Dependencies
import numpy as np
import pandas as pd
from census import Census
from us import states

# Census API Key
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2015)

In [3]:
# Retrieve Census Data (Reference: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b)
zip_census = c.acs5.get(( "B19013_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_017E",
                          "B15003_018E",
                          "B15003_022E",
                          "B15003_021E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E",
                          "B17001_002E",
                          "B23025_002E",
                          "B23025_005E",
                          "B01002_001E",
                          "B01002_002E",
                          "B01002_003E",
                          "B01003_001E",
                          "B25064_001E",
                          "B25077_001E",
                          "B25077_001E",
                          "B02001_002E",
                          "B02001_003E",
                          "B02001_004E",
                          "B02001_005E",
                          "B03001_003E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
zip_census = pd.DataFrame(zip_census)

# Column Reordering
zip_census = zip_census.rename(columns={"B19013_001E": "Household Income", 
                                      "B19301_001E": "Income Per Capita",
                                      "B15003_002E": "Education None",
                                      "B15003_017E": "Education High School",
                                      "B15003_018E": "Education GED",
                                      "B15003_022E": "Education Bachelors",
                                      "B15003_021E": "Education Associates",
                                      "B15003_023E": "Education Masters",
                                      "B15003_024E": "Education Professional",
                                      "B15003_025E": "Education Doctorate",
                                      "B17001_002E": "Poverty",
                                      "B23025_002E": "Employment Labor Force",
                                      "B23025_005E": "Employment Unemployed",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B01003_001E": "Population",
                                      "B25064_001E": "Median Gross Rent",
                                      "B25077_001E": "Median Home Value",
                                      "B02001_002E": "White Population",
                                      "B02001_003E": "Black Population",
                                      "B02001_004E": "Native American Population",
                                      "B02001_005E": "Asian Population",
                                      "B03001_003E": "Hispanic Population",
                                      "zip code tabulation area": "zipcode"})

# Visualize Data
zip_census.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Education Professional,Education Doctorate,Poverty,Household Income,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,zipcode
0,37.6,36.5,39,17982,16956,102,14,0,17942,456,...,59,65,10861,10816,7453,6162,2213,359,104500,00601
1,39.5,38.6,40.3,40260,23144,693,8,72,37681,955,...,206,258,21720,16079,8474,15289,3807,395,90200,00602
2,39.9,37.7,41.4,52408,36177,2057,76,655,50437,1014,...,283,280,25459,16804,10179,17058,3991,384,128400,00603
3,40.8,41,40.3,6331,4399,151,0,0,6323,188,...,17,32,4070,12512,5863,1679,179,280,108500,00606
4,40.2,36.9,42.2,28328,17791,950,0,26,27999,377,...,38,144,14005,17475,8452,9542,1495,424,113200,00610

In [4]:
# Geocode
zip_lat_lng = pd.read_excel("../Raw/Latitude_Longitude_Zip.xlsx", converters={"zipcode": str})
zip_lat_lng.head()

  zipcode        lat        lng       city state
0   00601  18.180555 -66.749961   ADJUNTAS    PR
1   00602  18.361945 -67.175597     AGUADA    PR
2   00603  18.455183 -67.119887  AGUADILLA    PR
3   00606  18.158345 -66.932911    MARICAO    PR
4   00610  18.295366 -67.125135     ANASCO    PR

In [5]:
# Merge Data
zip_census_geocoded = zip_census.merge(zip_lat_lng, on="zipcode", how="left")
zip_census_geocoded.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,zipcode,lat,lng,city,state
0,37.6,36.5,39,17982,16956,102,14,0,17942,456,...,7453,6162,2213,359,104500,00601,18.180555,-66.749961,ADJUNTAS,PR
1,39.5,38.6,40.3,40260,23144,693,8,72,37681,955,...,8474,15289,3807,395,90200,00602,18.361945,-67.175597,AGUADA,PR
2,39.9,37.7,41.4,52408,36177,2057,76,655,50437,1014,...,10179,17058,3991,384,128400,00603,18.455183,-67.119887,AGUADILLA,PR
3,40.8,41,40.3,6331,4399,151,0,0,6323,188,...,5863,1679,179,280,108500,00606,18.158345,-66.932911,MARICAO,PR
4,40.2,36.9,42.2,28328,17791,950,0,26,27999,377,...,8452,9542,1495,424,113200,00610,18.295366,-67.125135,ANASCO,PR

In [11]:
# Filter to a State
zip_data = zip_census_geocoded[zip_census_geocoded["state"] == "WV"]

In [12]:
# Build URLs
max_distance_meters = 8000
city_amenity = "Hospial"
gkey = "{API KEY}"
zip_data["Google_URL"] = "https://maps.googleapis.com/maps/api/place/radarsearch/json?location=" + zip_census_geocoded["lat"].map(str) + "," + zip_census_geocoded["lng"].map(str) + "&radius=" + str(max_distance_meters) + "&keyword=" + city_amenity + "&key=" + gkey

/Users/afhaque/anaconda/envs/PythonData/lib/python3.5/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
zip_data.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,zipcode,lat,lng,city,state,Google_URL
25858,33,33.6,32.3,14128,9257,1618,68,1483,3277,26,...,10519,427,1053,268800,75001,32.960047,-96.838522,ADDISON,TX,https://maps.googleapis.com/maps/api/place/rad...
25859,35.3,35.2,35.5,68347,51960,6537,435,6035,9247,282,...,37780,2194,1181,196500,75002,33.089854,-96.608600,ALLEN,TX,https://maps.googleapis.com/maps/api/place/rad...
25860,34.4,32.9,35.7,49620,37971,3316,166,3440,24635,1028,...,28437,1600,950,149800,75006,32.962141,-96.898585,CARROLLTON,TX,https://maps.googleapis.com/maps/api/place/rad...
25861,38.6,36.9,39.9,53513,37863,4069,275,8121,13614,692,...,31019,1700,1067,175700,75007,33.005262,-96.896742,CARROLLTON,TX,https://maps.googleapis.com/maps/api/place/rad...
25862,35.4,39.1,33.9,9409,8305,169,24,84,1458,8,...,4929,106,872,247000,75009,33.338899,-96.752977,CELINA,TX,https://maps.googleapis.com/maps/api/place/rad...